body,html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    color: red;
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
}

h3 {
    width: 60%;
    margin-top: -15px;
    padding: 20px;
    font-weight: bold;
}


.container0{
    width: 100%;
    height: auto;
    background-color: FFFFFF;

}


.group-logo{
    /* display:grid;
    place-items: center; */
    margin: auto;
    width: 90%;
    height: 150px;
    margin-top: 40px;
    background-color: #FF0102;
   

}

.logo-larepublica{
    width: 500px;
    height: 100px;
    position: relative;
    margin: auto;
    margin-top: 30px;
    margin-left: 450px;
    top: 5px;
    /* border: 2px solid orange; */
    
}

.titulo {
    background-color: red;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.nav {
    display:grid;
    place-items: center;
    padding: 4px;
    margin: auto;
    width: 90%;
    height: 30px;
    background-color:lightgray;
   
}

.navegacion li {
    display: inline-block;
    padding-right: 12px;
    font-size: 14px;
    color: black;
    font-weight: bold;
}

.fecha {
    background-color: red;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
    font-family: arial;
    font-size: 14px;
}



.contenido-noticia{
    width: 90%;
    height: 550px;
    margin: auto;
    text-align: justify;

    
}

.texto{
    width: 55%;
    height: 350px;
    margin-left: 40px;
    
}

.img {
    width: 425px;
    height: 260px;
    float: right;
    margin-right: 20px;
    margin-top: -380px;
   
}